body {
    padding: 2px;
    
}
div {
    animation-name: white-box;
    border-radius: 15px;
    width: 200px;
    height:200px ;
    background-color:white;
    min-height: 200px;
    border: 2px solid orange;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 1s;
    
    
}
div:hover {
    background-color: green;
    transform: scale(0.1, 0.1);
   
}
@keyframes white-box {
    0% {background-color: white;}
    5% {background-color: green;}
}
